<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <from action="/edit/{{ bday['id'] }}" method="POST">
        <input type="text" value="{{ bday['name'] }}" id="name" name="name">
        <input
          type="number"
          value="{{ bday['month'] }}"
          id="month"
          name="month"
        />
        <input type="number" value="{{ bday['day'] }}" id="day" name="day" />
        <input type="submit" value="edit" />  
    </from>
</body>
</html>